@model MyMVC.ViewModels.UserRolesModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>用户名</th>
                <th>
                    Email
                </th>
                <th>
                    CreateDate
                </th>
                <th>
                    Department
                </th>
                <th>
                    Roles
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.SysUsers)
            {
                var v_class = string.Empty;
                if (item.ID==ViewBag.currid)
                {
                    v_class = "table-success";
                }
                <tr class="@v_class">
                    <td>
                        @Html.DisplayFor(t => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(t => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(t => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(t => item.SysDepartment.DepartName)
                    </td>
                    <td>
                        @foreach (var userRole in item.SysUserRoles)
                        {
                                @userRole.SysRoles.RoleName @:,
                       }
                    </td>
                    <td>
                        @Html.ActionLink("Select", "Index", new { id = item.ID })
                    </td>
                </tr>
                            }
        </table>

        @if (Model.SysRoles != null)
        {
            <h6>roles show</h6>
            <table class="table table-striped">
                <tr>
                    <th>roleName</th>
                    <th>roleDesc</th>
                </tr>
                @foreach (var item in Model.SysRoles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(t => item.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(t => item.RoleDesc)
                        </td>
                    </tr>
                }
            </table>
        }

    </div>
</body>
</html>
