@{
    Layout = null;
}


@model MyMVC.Models.SysUser

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container"> 
        <h6>Create</h6>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.DisplayNameFor(t=>t.UserName)<input type="text" name="username" class="form-control" />
                @Html.ValidationMessageFor(t => t.UserName)
                <br />
                @Html.LabelFor(t=>t.PassWord):<input type="password" name="password" class="form-control" />
                @Html.ValidationMessage("password")
                <br />
                Email:<input type="text" name="email" class="form-control" />
                <br />
                @*<button type="submit" class="btn btn-default">Save</button>*@
                <input type="submit" class="btn btn-default" value="Save" />
                @Html.ActionLink("Back", "Index")
            </div>
        }
    </div>
</body>
</html>
