
@{
    Layout = null;
}

@model IEnumerable<MyMVC.Models.SysUser>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet">
    @*<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">*@
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6>Partial：</h6>test
                @Html.Partial("_PartialDateDemo")
                @Html.Partial("_PartialDateDemo") @*//("~/Views/Shared/_PartialDemo.cshtml")*@
                Action=>Partial:@Html.Action("ShowPartial")
            </div>
            <div class="col-md-3">
                <h6>RenderPartial:</h6>
                @{
                    Html.RenderPartial("~/Views/Shared/_PartialDemo.cshtml");
                }
            </div>
            <div class="col-md-3">
                <h6>Action:</h6>
                @Html.Action("ShowPartialAction")
            </div>
            <div class="col-md-3">
                <h6>RenderAction:</h6>
                @{
                    Html.RenderAction("ShowPartial");
                }
            </div>
        </div>
        <div>
            @Html.ActionLink("Create", "Create")
        </div>
        <div class="row">
            <table class="table table-bordered table-hover table-striped table-responsive">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.UserName)</th>
                    <th colspan="2">@Html.DisplayNameFor(m => m.Email)</th>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            @Html.ActionLink("Modify", "Modify", new { id = item.ID })
                            @Html.PasswordFor(m => item.PassWord)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
